.App {
  text-align: center;
}

.container {
  padding-inline: 4rem;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.search-bar {
  padding-block: 0.5rem;
  border: 1px solid;
  border-radius: 6px;
  border-color: rgb(184, 184, 184);
}

.underline {
  text-decoration: underline;
}

.dots-menu::after {
  content: '\2807';
  font-size: 18px;
}

table {
  border-collapse: collapse;
  width: 100%;
  table-layout: auto;
}

td {
  border-bottom: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

th {
  border-bottom: 2px solid #ccc;
  padding: 8px;
  padding-block: 1rem;
  text-align: left;
  background-color: #d9e9ee;
}

.yellow-pichincha-color {
  color: #FFDD00;
}

.yellow-bg {
  background-color: #FFDD00;
}

.grey-bg {
  background-color: #ccc;
}

.justify-between {
  justify-content: space-between;
}

.justify-evenly {
  justify-content: space-evenly;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.button {
  padding-block: 1rem;
  padding-inline: 1rem;
  border-radius: 6px;
  color: black;
  font-weight: bold;
  border: 0px;
}

.button:hover {
  cursor: pointer;
}

.button-full {
  display: block;
  width: 100%;
}

.input-container {
  flex: 1;
}

.App-link {
  color: #61dafb;
}

.three-dots:after {
  cursor: pointer;
  color: #ccc;
  content: '\2807';
  font-size: 20px;
  padding: 0 5px;
}

a {
  text-decoration: none;
  color: black;
}

a div:hover {
  background-color: #d9e9ee;
}

a div {
  padding: 2px;
}

.dropdown {
  position: absolute;
  right: 80px;
  background-color: #f5f4f4;
  box-shadow: 0px 0px 3px 3px #f5f4f4;
  outline: none;
  opacity: 0;
  z-index: -1;
  max-height: 0;
  transition: opacity 0.1s, z-index 0.1s;
}

.dropdown-container:focus {
  outline: none;
}

.dropdown-container:focus .dropdown {
  opacity: 1;
  z-index: 100;
  max-height: 100vh;
  transition: opacity 0.2s, z-index 0.2s;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
